.vacancies {
  padding: 80px 108px 80px 108px;
  background-color: #eaeaea;
  min-height: 100px;
}

.vacancies__title {
  margin: 0 0 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
}

.vacancies__job-container {
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.vacancies__job {
  background-color: #fff;
  padding: 10px 24px 10px 16px;
  border-radius: 8px 0px 0px 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #858585;
}

.vacancies__job:hover {
  cursor: pointer;
}

.vacancies__job_active {
  color: #000000;
}

.vacancies__direction-container {
  padding: 0;
  margin: 0 0 36px 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.vacancies__direction {
  margin-right: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #858585;
}

.vacancies__direction_active {
  color: #000000;
}

.vacancies__direction:hover {
  cursor: pointer;
}

.vacancies__job:last-child {
  padding: 10px 16px 10px 24px;
  border-radius: 0px 8px 8px 0px;
}

.vacancies__container {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 220px);
  grid-auto-rows: minmax(min-content, max-content);
  gap: 24px;
  justify-content: center;
}

.vacancies__not-vacancy-text {
  margin: 10px 0 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.vacancies__button {
  margin: 28px 0 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 122%;
  color: var(--blue);
}

.vacancies__button:hover {
  cursor: pointer;
}

.vacancies__button_hidden {
  display: none;
}

.vacancies__block-direction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.vacancies__new-vacancy {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.vacancies__new-vacancy-logo {
  margin-right: 12px;
  width: 16px;
  height: 16px;
  border-radius: 90%;
  background-color: var(--blue);
}

.vacancies__new-vacancy-text {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
