.vacancy {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
}

.vacancy__front {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: var(--white);
  transition: transform 1s linear 0.5s;
  transition-property: transform;
  backface-visibility: hidden;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vacancy__back {
  transition: transform 1s linear 0.5s;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: var(--white);
  transform: rotateY(-180deg);
  opacity: 1;
  transition-property: transform;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
}

.vacancy:hover .vacancy__front {
  transform: rotateY(-180deg);
  transition: transform 1s;
  animation-delay: 1s;
}

.vacancy:hover .vacancy__back {
  transform: rotateY(0deg);
  transition: transform 1s;
}

.vacancy__profession-conatiner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.vacancy__profession {
  margin: 20px 20px 8px 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--dark-gray);
}

.vacancy__profession-logo {
  margin: 20px 20px 0 0;
  width: 16px;
  height: 16px;
  border-radius: 90%;
  background-color: var(--blue);
}

.vacancy__well {
  margin: 0px 20px 0 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  word-wrap: break-word;
  color: var(--black);
}

.vacancy__salary-contauner {
  margin: 0 20px 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.vacancy__salary-arrow {
  min-width: 37px;
  height: 24px;
  background: center / contain no-repeat url(../../../../images/Arrow.svg);
}

.vacancy__salary {
  margin: 0 20px 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  word-wrap: break-word;
  color: var(--black);
}

.vacancy__back-container {
  margin: 0;
}

.vacancy__info-title {
  margin: 20px 0 12px 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: var(--black);
}

.vacancy__info-container {
  padding: 0;
  margin: 0 20px 0 35px;
  transform: rotateY(360deg);
  list-style-type: disc;
}

.vacancy__info {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--black);
}

.vacancy__info-more {
  margin: 8px 50px 20px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 122%;
  text-align: end;
  color: var(--blue);
  text-decoration: none;
}

.vacancy__info-more:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 549.98px) {
  .vacancy__profession {
    margin: 12px 12px 4px 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

  .vacancy__well {
    margin: 0px 12px 0 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }

  .vacancy__salary-contauner {
    margin: 0 12px 12px 12px;
  }

  .vacancy__salary {
    margin: 0 10px 0 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

  .vacancy__info-title {
    margin: 12px 0 4px 12px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
  }

  .vacancy__info {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

  .vacancy__info-more {
    margin: 8px 12px 12px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }
}
