:root {
  --black: #262626;
  --dark-gray: #858585;
  --white: #fff;
  --gray: #eaeaea;
  --background: #f7f7f8;
  --light-blue: #d9e7ff;
  --blue: #015af8;
  --blue-hover: #004acc;
  --blue-pressed: #004acc;
  --blue-bable: #d9e7ff;
}
