.feedback-card {
  width: 100%;
  border-radius: 60px;
  background-color: var(--white);
  overflow: hidden;
}

.feedback-card__card-img {
  width: 100%;
  max-height: 337px;
  background-size: cover;
}

.feedback-card__container {
  position: relative;
  margin: 28px auto 36px;
  width: 86.66%;
}

.feedback-card__icon {
  position: absolute;
  right: 0;
  top: -103px;
}

.feedback-card__card-title {
  margin: 0 0 4px;
  padding: 0;
  width: 100%;
  color: var(--black);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.feedback-card__card-subtitle {
  margin: 0 0 12px;
  padding: 0;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: var(--dark-gray);
}

.feedback-card__card-text {
  margin: 0;
  padding: 0;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--black);
}

.feedback-card__card-text:last-of-type {
  margin-top: 10px;
}
