.advantages {
  background: var(--background);
  padding: 60px 108px 80px 108px;
}

.advantages__title {
  margin: 0 0 60px 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: var(--black);
}

.advantages__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  width: 100%;
  gap: 24px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.advantages__container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.advantages__card {
  position: relative;
  width: 100%;
  min-height: 220px;
  background: #ffffff;
  border-radius: 20px;
}

.advantages__card-title {
  margin: 40px 0 0 20px;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: var(--black);
}

.advantages__card-text {
  margin: 20px;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  color: var(--black);
}

.advantages__card-img {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 60px;
  height: 60px;
  object-fit: contain;
}

@media screen and (max-width: 1199.98px) {
  .advantages__container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media screen and (max-width: 1023.98px) {
  .advantages {
    padding: 50px 50px 50px 50px;
  }
}

@media screen and (max-width: 767.98px) {
  .advantages__container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .advantages__card {
    position: relative;
    width: 288px;
    min-height: 248px;
    background: #ffffff;
    border-radius: 20px;
  }
}

@media screen and (max-width: 549.98px) {
  .advantages {
    padding: 32px 16px 32px 16px;
  }

  .advantages__title {
    margin: 0 0 32px 0;
    font-size: 28px;
    line-height: 32px;
  }

  .advantages__card {
    min-height: 180px;
  }

  .advantages__card-title {
    margin: 28px 0 0 16px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }

  .advantages__card-text {
    margin: 16px;
    font-size: 16px;
    line-height: 20px;
  }

  .advantages__card-img {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 44px;
    height: 44px;
    object-fit: contain;
  }
}
