.advantages {
  width: 100%;
  background: var(--background);
  color: #000000;
  padding: 60px 0 80px;
}

.advantages__title {
  margin: 0 0 0 7.5%;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
}

.advantages__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 60px auto 0;
  width: 85%;
  gap: 24px;
}

.advantages__card {
  position: relative;
  width: 100%;
  min-height: 248px;
  background: #FFFFFF;
  border-radius: 20px;
}

.advantages__card-title {
  margin: 40px 0 0 20px;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.advantages__card-text {
  margin: 20px 20px 40px;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.advantages__card-img {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 60px;
  height: 60px;
  object-fit: contain;
}
