@import url(../../../vendor/fonts/stylesheet.css);
@import url(../../../utils/css-variables.css);

@keyframes inAndOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes Rectangle1 {
  0% {
    right: -1000px;
  }
  100% {
    right: 624px;
  }
}
@keyframes Rectangle1_mobile {
  0% {
    right: -1000px;
  }
  100% {
    right: 0;
  }
}

@keyframes Rectangle2 {
  0% {
    right: -1000px;
  }
  100% {
    right: 312px;
  }
}
@keyframes Rectangle2_mobile {
  0% {
    right: -1000px;
  }
  100% {
    right: 0;
  }
}

@keyframes Rectangle3 {
  0% {
    right: -1000px;
  }
  100% {
    right: 0px;
  }
}
@keyframes Rectangle3_mobile {
  0% {
    right: -1000px;
  }
  100% {
    right: 0px;
  }
}

.whatAwaitsYou {
  font-family: 'Yandex Sans Display';
  color: var(--black);
  padding: 0 108px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 304px;
  position: relative;
  background: var(--background);
}

.whatAwaitsYou__list {
  margin: 60px 0 48px 0;
  padding: 0;
  width: 912px;
  height: 128px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  list-style: none;
}

.whatAwaitsYou__header {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
}

.headerAnimation {
  animation: 2s ease-in-out inAndOut;
}

.whatAwaitsYou__item {
  width: 288px;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 90px;
  box-sizing: border-box;
  gap: 12px;
}

.whatAwaitsYou__item_first {
  background-color: var(--white);
}

.whatAwaitsYou__item_second {
  background-color: var(--gray);
}

.whatAwaitsYou__item_third {
  background-color: var(--light-blue);
}

.firstAnimation {
  animation: 2s ease-in-out Rectangle1 both;
}

.secondAnimation {
  animation: 2s ease-in-out 0.45s Rectangle2 both;
}

.thirdAnimation {
  animation: 2s ease-in-out 0.9s Rectangle3 both;
}

.whatAwaitsYou__context {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Yandex Sans Text';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  width: 100%;
}
.whatAwaitsYou__cat {
  position: absolute;
  top: 0;
  left: 0;
}

.whatAwaitsYou__context_mobile1,
.whatAwaitsYou__context_mobile2,
.whatAwaitsYou__context_mobile3 {
  display: none;
}

@media (max-width: 1439.98px) {
  .whatAwaitsYou {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .whatAwaitsYou__header {
    margin-top: 48px;
  }

  .whatAwaitsYou__list {
    width: 100%;
    height: 100%;
    margin-bottom: 16px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    gap: 16px;
  }

  .whatAwaitsYou__item {
    position: relative;
    height: 128px;
  }

  .firstAnimation,
  .secondAnimation,
  .thirdAnimation {
    animation: 2s ease-in-out inAndOut;;
  }

  .whatAwaitsYou__context {
    margin: 0;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .whatAwaitsYou__cat {
    display: none;
  }
}

@media (max-width: 1199.98px) {
  .whatAwaitsYou {
    padding: 0;
    margin: 0 auto;
  }
}

@media (max-width: 767.98px) {
  .whatAwaitsYou__list {
    margin: 0;
    margin-top: 24px;
  }
  .whatAwaitsYou__header {
    margin-top: 36px;
    font-size: 28px;
    line-height: 114%;
  }
  .whatAwaitsYou__item {
    width: 350px;
  }
}

@media (max-width: 375px) {
  .whatAwaitsYou {
    padding: 0 16px;
    align-items: center;
    box-sizing: border-box;
  }
  .whatAwaitsYou__item {
    width: 343px;
    height: 88px;
    gap: 20px;
    position: absolute;
  }
  .whatAwaitsYou__list {
    position: relative;
    height: 340px;
  }
  .whatAwaitsYou__item_first {
    top: 0;
  }
  .whatAwaitsYou__item_second {
    top: 108px;
  }
  .whatAwaitsYou__item_third {
    top: 216px;
  }
  .firstAnimation {
    animation: 2s ease-in-out Rectangle1_mobile both;
  }

  .secondAnimation {
    animation: 2s ease-in-out 0.45s Rectangle2_mobile both;
  }

  .thirdAnimation {
    animation: 2s ease-in-out 0.9s Rectangle3_mobile both;
  }
  .whatAwaitsYou__context_mobile1,
  .whatAwaitsYou__context_mobile2,
  .whatAwaitsYou__context_mobile3 {
    display: block;
  }
  .whatAwaitsYou__context_desc1,
  .whatAwaitsYou__context_desc2,
  .whatAwaitsYou__context_desc3 {
    display: none;
  }
}
