.first {
  position: relative;
  height: 700px;
  width: 100%;
  font-style: normal;
  color: #000000;
  background-image: url('../../../images/background_first.png');
  overflow: hidden;
}

.first_container {
  display: flex;
  flex-direction: column;
  margin: 72px auto 72px 0 ;
  width: 574px;
  height: 556px;
  background: #FFFFFF;
  border-radius: 0px 80px 80px 0px;
}

.first__title {
  margin: 80px auto 0 108px;
  padding: 0;
  width: 416px;
  font-style: normal;
  font-weight: 500;
  font-size: 52px;
  line-height: 110%;
  color: var(--black);
}

.first__text {
  margin: 28px auto 0 108px;
  padding: 0;
  width: 330px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 122%;
  color: var(--black);
}

.first__button {
  margin: 89px auto 0 108px;
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 286px;
  height: 60px;
  border-radius: 120px;
  background: var(--blue);
  color: var(--white);
  backdrop-filter: blur(6px);
}

.first__button:hover {
  cursor: pointer;
  background: var(--blue-hover);
}

.first__bable {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 332px;
  height: 82px;
  background-color: var(--white);
  border-radius: 90px;
  flex: none;
  order: 0;
  flex-grow: 0;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: transfer;
}

.first__bable-text {
  margin: 0;
  padding: 0;
  width: 300px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 122%;
  text-align: center;
  color: var(--black);
}

.first__bable-text_small {
  width: 80%;
}

.first__bable:nth-of-type(2n) {
  background-color: var(--blue-bable);
}

.first__bable:hover {
  cursor: pointer;
}

.first__bable_pozition_one {
  left: 916px;
}

.first__bable_pozition_two {
  left: 628px;
  animation-delay: 5s;
}

.first__bable_pozition_three {
  left: 1044px;
  animation-delay: 10s;
}

.first__bable_pozition_four {
  left: 732px;
  animation-delay: 15s;
}

.first__bable_pozition_five {
  left: 1000px;
  animation-delay: 20s;
}

.first__bable_pozition_six {
  left: 628px;
  animation-delay: 25s;
}

@keyframes transfer {
  0% {
    top: 782px;
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    top: -700px;
  }
}
